<script src="https://use.fontawesome.com/a1d702c360.js"></script>
<html>
<head>
<base href="/">
<link href="./assets/bootstrap.min.css" rel="stylesheet">
</head>
<body>
<div *ngIf="paper" style="height:100%;">
    <div class="iframe col-md-9" style="float:left; height:100%">
        <iframe [src]="sanitizedPaperUrl" height="100%" width="100%" name="content_iframe"></iframe>
    </div>
    <div class="sidebar col-md-3" style="float:left; height:100%;">
        <div class="sidebar-content" style="height: 90%">
            <h2 class="heading" (click)="toggle('related')">Related Papers ({{ paper.related.length}})</h2>
            <ul class="related" [ngbCollapse]="collapse['related']" >  
                <li *ngIf="!paper.related_resolved">
                    <p class="text-center">None found.</p>
                </li>
                <li *ngFor="let paper of paper.related_resolved">
                    <div class="marker"></div>
                    <div class="marker-dot"></div>
                    <div class="content">
                        <a [href]="paper.url" target="content_iframe">{{ paper.title }}</a>
                    </div>
                    <div style='clear:both'></div>
                </li>
            </ul>  
            <!-- <div class="text-center">
                <button *ngIf="paper.related.length >= 3" class="col-md-11 btn btn-primary" (click)="toggle('related')">More</button>
            </div> -->
            
            <h2 class="heading" (click)="toggle('comments')">Comments ({{ paper.comments.length }}) </h2>
            <ul class="comments" [ngbCollapse]="collapse['comments']" >  
                <li *ngIf="!paper.comments_resolved">
                    <p class="text-center">None found.</p>
                </li>
                <li *ngFor="let comment of paper.comments_resolved" class="comment">
                    <div class="marker"></div>
                    <div class="marker-dot"></div>
                    <div class="content">
                        <a [href]="comment.url">{{ comment.text }} </a>
                    </div>
                    <div style='clear:both'></div>
                </li>
            </ul>  
            <!-- <div class="text-center">
                <button *ngIf="paper.comments.length >= 3" class="col-md-11 btn btn-primary" (click)="toggle('comments')">More</button>
            </div> -->

            <h2 class="heading" (click)="toggle('repositories')">Repositories ({{ paper.repositories.length > 0 ? paper.repositories.length : 0}})</h2>
            <ul class="repositories" [ngbCollapse]="collapse['repositories']" >  
                <li *ngIf="!paper.repositories_resolved">
                    <p class="text-center">None found.</p>
                </li>
                <li *ngFor="let repo of paper.repositories_resolved">
                    <div class="marker"></div>
                    <div class="marker-dot"></div>
                    <div class="content">
                        <a [href]="repo.url">{{repo.url}}</a>
                    </div>
                    <div style='clear:both'></div>
                </li>
            </ul>   
            <div class="text-center">        
                <button *ngIf="paper.repositories.length >= 3" class="col-md-11 btn btn-primary" (click)="toggle['repositories']">More</button>
            </div>
            
            <h2 class="heading" (click)="toggle('faq')">FAQ</h2>
            <ol class="faq" [ngbCollapse]="collapse['faq']">
                <li>How does this work?</li>
                    <p>We've scraped all papers submitted from <a href="http://arxiv.org">http://arxiv.org</a> to <a href="https://reddit.com/r/machinelearning">/r/machinelearning</a> on <a href="http://reddit.com">reddit.com</a> during 2016/2017.</p>
                    <p>The "Comments" section reflects all top-level posts that mention the relevant paper.</p> 
                    <p>Posts were then parsed to extract links to other papers on <a href="http://arxiv.org">http://arxiv.org</a> and <a href ="http://github.com">http://github.com</a>. These are reflected under the "Related Papers" and "Repositories" sections.</p>
                <li>Is this updated in realtime?</li>
                    <p>No - this only pulls in the latest posts from reddit once a day.</p> 
                <li>That's pretty limited - why did you release this?</li>
                    <p>We're tackling a similar problem for government, and we need to assess other applications for this kind of system. By spinning up a quick proof-of-concept, we were hoping the community could give us feedbacl for ideas on where this might be useful.</p> 
                <li>Can you add new features?</li>
                    <p>Yes, if there's sufficient community interest - so please <a (click)="tweet()">share on social media</a> or <a (click)="toggle('share')">send to a friend!</a>.</p>
                <li>I've got an idea for how this might be useful elsewhere - can I get in touch?</li>
                    <p><a (click)="toggle('contact')">Let us know!</a>. Every idea, big and small, is welcome.</p>                
            </ol>
            <div class="about">
                <h2 class="heading nohover">            
                    <ul class="list-inline">
                        <a href="/">
                            <li class="list-inline-item">
                                <i class="fa fa-home  fa-3x" aria-hidden="true"></i>
                            </li>
                        </a>
                        <li class="list-inline-item" (click)="toggle('about')">
                            <i class="fa fa-question-circle fa-3x" aria-hidden="true"></i>
                        </li>
                        <a (click)="tweet()">
                            <li class="list-inline-item" >
                                <i class="fa fa-twitter-square fa-3x" aria-hidden="true"></i>
                            </li>
                        </a>
                        <li class="list-inline-item" (click)="toggle('contact')">
                            <i class="fa fa-envelope-square fa-3x" aria-hidden="true"></i>
                        </li>
                        <li class="list-inline-item" (click)="toggle('share')">
                            <i class="fa fa-share-square fa-3x" aria-hidden="true"></i>
                        </li>
                    </ul>
                </h2>
            </div>
            <div class="about" [ngbCollapse]="collapse['about']">
                <div class="col-md-12">                        
                    <p>We're part of a government-funded program to test a new approach to encouraging and aggregating feedback on financial intelligence reporting in Australia.</p>
                    <p>We also need to test how useful this approach is in other fields. When we saw <a href="https://twitter.com/ID_AA_Carmack/status/806241065787269120" target="_blank">John Carmack</a> musing about something similar for research papers, we figured we'd spin up a quick prototype to get ideas from the wider community.</p>
                    <p>If you like the idea behind arxiv-link, please <a (click)="tweet()">spread the word on social media</a> or <a (click)="toggle('share')">invite others</a> to try it out.</p>
                    <p>Even better, <a (click)="toggle('contact')">let us know</a> if you have any ideas or suggestions that would be useful in your field.</p>
                </div>
            </div>
            <div [ngbCollapse]="collapse['contact']">
                <form class="form-group">
                    <div class="col-md-12">
                        <label>Your E-mail</label>
                    </div>
                    <div class="col-md-12">
                        <input #messageEmail type="email" id="contactEmail"><span class="small"> (optional)</span>
                    </div>
                    <div class="col-md-12">
                        <label>Message</label>
                    </div>
                    <div class="col-md-12">
                        <textarea #messageText cols="23" rows="5"></textarea>
                    </div>
                    <div class="col-md-12">
                        <button class="btn btn-primary"  (click)="message($event)">Send</button>
                        <p #messageSuccess class="success" style="display:none; margin-top: 3px" >Thanks for the message!</p>
                    </div>
                </form>            
            </div>
            <div [ngbCollapse]="collapse['share']">
                <form class="form-group">
                    <div class="col-md-12">
                        <input #shareEmail type="email">
                    </div>
                    <div class="col-md-12">
                        <label class="small">Paste an e-mail address here to share a link</label>
                    </div>
                    <div class="col-md-12">
                        <button class="btn btn-primary" (click)="share()">Share</button>
                        <p #shareSuccess class="success" style="display:none; margin-top: 3px">Thanks for the message!</p>
                    </div>
                </form>
            </div>
        </div>
        <div class="footer" style='height:5%; min-height:25px'>
            <div class="text-center">
                <a href="http://www.avinium.com"><p style="font-size:10px">Powered by <img src="./assets/avinium_logo.png" width=75px></p></a>
            </div>
        </div>
    </div>
</div>
<div *ngIf="!sanitizedPaperUrl" class="container">    
    <div class="row text-center" >
        <canvas id="canvas" style="margin-left:auto; margin-right:auto;clear:right;display:block"></canvas>
    </div>
    <div class="row text-center"  style="margin-bottom:25px">
        <img src="./assets/logo3.png" style="display:block;clear:left; margin-left:auto; margin-right:auto"> 
    </div>
    <div class="row">
        <div class="col-md-8 offset-md-2 text-center">
            <url-form></url-form>
            <p>...or try one of the following papers.</p>
            <ul class="sample offset-md-1">
                <li class="col-md-5">
                    <a href="/?url=https%3A%2F%2Farxiv.org%2Fabs%2F1606.02492">
                        [1606.02492] Convolutional Neural Fabrics
                    </a>
                </li>
                <li class="col-md-5">
                    <a href="/?url=https%3A%2F%2Farxiv.org%2Fabs%2F1511.06349">
                        [1511.06349] Generating Sentences from a Continuous Space
                    </a>
                </li>
                <li class="col-md-5">
                    <a href="/?url=https%3A%2F%2Farxiv.org%2Fabs%2F1602.04433">
                        [1602.04433] Unsupervised Domain Adaptation with Residual Transfer Networks
                    </a>
                </li>
                <li class="col-md-5">
                    <a href="/?url=https%3A%2F%2Farxiv.org%2Fabs%2F1602.01783">
                        [1602.01783] Asynchronous Methods for Deep Reinforcement Learning
                    </a>
                </li>
            </ul>
        </div>
    </div>
</div>
</body>
</html>
