body {
    height: 100%;
    min-height: 100%;
    margin: 0;
}

html {
    min-height: 100%;
    height: 100%;
    font-family: "Titillium Web",Helvetica,Arial,sans-serif;
}

.iframe {
    padding: 0 !important;
}

.sidebar {
    font-family: "Titillium Web",Helvetica,Arial,sans-serif;
    padding: 0px !important;
    height: 100%;
    overflow: scroll;
}

.sidebar .heading, .sidebar .heading.nohover:hover {
    background-color: #F7F3EF;
    border-bottom: 1px solid #ccc;
    color: #E45735;
    font-size: 14px;
    padding: 11px;
}

.sidebar .heading:hover {
    background-color: #E45735;
    color: white;
    cursor:pointer;
}

.sidebar ul, .sidebar ol, .sidebar li {
    font-size: 11px;
    margin: 0;
    padding: 0;
}

.sidebar ol li {
    margin-left:25px;
}

.sidebar ol p {
    margin-left:25px;
}
.sidebar ul {
    list-style:none;
}

.sidebar ul.collapse {
    padding: 15px 0;
}

.sidebar ul.collapse {
    overflow: hidden;
}

.sidebar .collapse.show {
    max-height:55%;
    overflow-y: scroll;
}

.sidebar-content {
    overflow: hidden;
}

.sidebar-content ul {

}

.sidebar p {
    font-size: 10px;
}

.sidebar .comments .comment {
    margin: 3px 0;
    padding: 3px;
    clear: both;
}

.marker {
    float:left;
    width: 8px; 
    height: 10px; 
    border-bottom: 1px solid #E45735;
    border-left: 1px solid #E45735;
    position:relative;
    //top:9px;
}

.marker-dot {
    float: left;
    width: 5px;
    height: 5px;
    background: #E45735;
    vertical-align: bottom;
    position: relative;
    top: 7px;
    margin-right: 5px;
}

.content {
    float:left;
    width: 90%;
}

.sidebar .btn-primary {
    cursor: pointer;
    color: #333;
    background-color: #eeeeee;
    border-color: #eeeeee;
    padding:8px;
    font-size: 10px;
}

.sidebar .footer i {
    color:#4099FF;
    padding: 3px;
}

.sidebar .footer a, .sidebar .footer a:hover {
    text-decoration:none;
}

.sample {
    list-style-type: none;
}

.sample li {
    float:left;
    margin: 25px 5px;
}

.faq, .faq p, .sidebar-content .faq li, .sidebar-content .about p, .sidebar-content .faq p {
    font-size: 14px;
}

.sidebar-content ol p {
    margin-top:5px;
}

.sidebar-content .faq li {
    font-weight: bold;
}

.sidebar-content a, .sidebar-content a:not([href]) {
    color: #E45735;
    cursor: pointer;
}

.sidebar-content label {
    font-size: 10px;
}

p a {
    font-weight: bold;
    text-decoration: underline !important;
}

.sidebar-content .small {
    font-size:8px;
}