<div class="form-group form-inline url">
    <form (ngSubmit)="go($event)">
        <input class="form-control" type="text" placeholder="Paste arxiv URL here" name="url" style="">
        <input class="col-md-1 text-center" type="submit" style="" value="Go">
    </form>
</div>